<h1><%= @recipe.name %></h1>
<p><%= @recipe.description %></p>

<label for='recipe_instructions'>Instructions</label>
<ul id='recipe_instructions'>
    <% @recipe.recipe_steps.each do |recipe_step| %>
        <li class='recipe-instruction-item'><%= recipe_step.instruction %></li>
    <% end %>
</ul>