<h1><%= @recipe.name %></h1>
<p><%= @recipe.description %></p>

<label for='recipe_instructions'>Instructions</label>
<ul id='recipe_instructions'>
    <% @recipe.instructions.each do |instruction| %>
        <li class='recipe-instruction-item'><%= instruction %></li>
    <% end %>
</ul>